/* Inserção de imagem de fundo */
body {
    background-image: url("fundo.jpeg");
    background-size: cover;
    }
/* edição de título */
.titulo {
    font-family: 'Open Sans Condensed', sans-serif;
    color:white;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
/* Perguntas: "Que mensagem você quer CIFRAR/DECIFRAR" */
.question {
    color:white  ;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
}
/* área onde o usuário insere a mensagem */
.textbox {
    resize: none;
    border: 1px solid #00B3B8;
    border-radius: 15px;
    color: gray;
    height: 60px;
    width: 300px;
    padding: 5px 20px;
    text-align: center;
    margin:0px 0 0 465px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}
/* área onde o usuário insere a chave */
.key {
    resize: none;
    padding: 5px 20px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    height: 30px;
    width: 100px;
    border-radius: 30px;
    margin:10px 0 0 500px;
    
}
/* botão */
.botão {
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 5px 5px;
    border-radius: 20px;
    background-color:#F2A900;
    height: 30px;
    width: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left:2%;
    margin:0px 0 0 0px;
    position: absolute;
    top: 18px;
    left: 660px;
}
/* div onde está a chave e o botão */
div {
    position: relative;
}
/* mensagem cifrada/decifrada que o usuário recebe */
.resultado {
    color:white ;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center; 
}